.myDiv {
  background-color: rgba(172, 212, 226, 0.0);
  border: 5px outset #84bcdb;
  text-align: center;
  padding: 15px 32px;
  font-size: 19;
  margin: 20px 14px;
  width: 17%;
}

body {

    background-image:url('../images/lion_king_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }



#Character0{
  height: 250px;
  width: 257px;
  position: absolute;
  top: 418px;
  right: 753px;

}
  
#Character1{   
    height: 250px;
    width: 316px;
    position: absolute;
    top: 448px;
    right: 212px;
  }
#Character2{
    transform: scaleX(-1);
    height: 250px;
    width: 285px;
    position: absolute;
    top: 365px;
    right: 1111px;
  }  
#Character3{
  transform: scaleX(-1);
  height: 250px;
  width: 255px;
  position: absolute;
  top: 215px;
  right: 10px;
  }

#button{
  background-color: #080307;
  padding: 35px 16px;
  margin: 262px 657px;
  width: 11%;
}