.myDiv {
  background-color: rgba(172, 212, 226, 0.0);
  border: 5px outset #84bcdb;
  text-align: center;
  padding: 15px 32px;
  font-size: 19;
  margin: 20px 14px;
  width: 17%;
}

body {

    background-image:url('../images/lion_king_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }



#Character0{
  height: 40%;
  width: 17%;
  position: absolute;
  top: 60%;
  left: 26%;

}
  
#Character1{   
  height: 32%;
  width: 24%;
  position: absolute;
  top: 60%;
  right: 20%;
}
#Character2{
    transform: scaleX(-1);
    height: 35%;
    width: 18%;
    position: absolute;
    top: 54%;
    left: 5%;
  }  
#Character3{
  transform: scaleX(-1);
  height: 40%;
  width: 16%;
  position: absolute;
  top: 31%;
  right: 3%;
  }

#caveEntrence{
  background-color: transparent;
  width: 21%;
  height: 17%;
  border: transparent;
  margin: auto;
  display: block;
  position: absolute;
  top: 63%;
  left: 40%;
}